.header{
    border: 10px double gold;
    text-align:center;
    background-color:red;
  padding: 0px 300px 500px 300px; 
  } 
  .inputs{
     text-align:left;
    line-height:3;
    font-size:1.8rem;
     background-color: white;
    width:20%;
   
     height: 250px; 
  
      padding: 10px 10px 10px 5px; 
  
      border: 10px double gold; 
  margin: 5px;   
  }
  .inputs{
border-top:solid black;
  }
  
  .sub{
    border-top:solid black;
  }
    
  .p1{
    display:grid;
    height:100vh;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows:1fr 3fr 1fr;
  }
   
  body{ 
  background-color:green;
  margin:auto;
    }